In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [10]:
 
data=pd.read_csv("Loan.csv")
data.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0

In [11]:
data.columns

Index(['ApplicationDate', 'Age', 'AnnualIncome', 'CreditScore',
       'EmploymentStatus', 'EducationLevel', 'Experience', 'LoanAmount',
       'LoanDuration', 'MaritalStatus', 'NumberOfDependents',
       'HomeOwnershipStatus', 'MonthlyDebtPayments',
       'CreditCardUtilizationRate', 'NumberOfOpenCreditLines',
       'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory',
       'LoanPurpose', 'PreviousLoanDefaults', 'PaymentHistory',
       'LengthOfCreditHistory', 'SavingsAccountBalance',
       'CheckingAccountBalance', 'TotalAssets', 'TotalLiabilities',
       'MonthlyIncome', 'UtilityBillsPaymentHistory', 'JobTenure', 'NetWorth',
       'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment',
       'TotalDebtToIncomeRatio', 'LoanApproved', 'RiskScore'],
      dtype='object')

In [12]:
data=data.drop(["ApplicationDate"],axis=1)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [14]:
data["LoanPurpose"]

0                      Home
1        Debt Consolidation
2                 Education
3                      Home
4        Debt Consolidation
                ...
19995                  Auto
19996    Debt Consolidation
19997                  Home
19998    Debt Consolidation
19999                 Other
Name: LoanPurpose, Length: 20000, dtype: object

In [17]:
categorical_columns = ['EmploymentStatus', 'EducationLevel', 'MaritalStatus', 
                       'HomeOwnershipStatus', 'LoanPurpose']

data_encoded = pd.get_dummies(data, columns=categorical_columns)
print(data_encoded)

       Age  AnnualIncome  CreditScore  Experience  LoanAmount  LoanDuration  \
0       45         39948          617          22       13152            48
1       38         39709          628          15       26045            48
2       47         40724          570          26       17627            36
3       58         69084          545          34       37898            96
4       37        103264          594          17        9184            36
...    ...           ...          ...         ...         ...           ...
19995   44         30180          587          19       24521            36
19996   56         49246          567          33       25818            36
19997   44         48958          645          20       37033            72
19998   60         41025          560          36       14760            72
19999   20         53227          574           0       32055            48

       NumberOfDependents  MonthlyDebtPayments  CreditCardUtilizationRate  \
0                       2                  183                   0.354418
1                       1                  496                   0.087827
2                       2                  902                   0.137414
3                       1                  755                   0.267587
4                       1                  274                   0.320535
...                   ...                  ...                        ...
19995                   3                  673                   0.101288
19996                   5                  414                   0.471818
19997                   3                  512                   0.216596
19998                   3                  986                   0.364758
19999                   0                  272                   0.536411

       NumberOfOpenCreditLines  ...  MaritalStatus_Widowed  \
0                            1  ...                      0
1                            5  ...                      0
2                            2  ...                      0
3                            2  ...                      0
4                            0  ...                      0
...                        ...  ...                    ...
19995                        5  ...                      0
19996                        2  ...                      0
19997                        3  ...                      0
19998                        4  ...                      0
19999                        3  ...                      0

       HomeOwnershipStatus_Mortgage  HomeOwnershipStatus_Other  \
0                                 0                          0
1                                 1                          0
2                                 0                          0
3                                 1                          0
4                                 1                          0
...                             ...                        ...
19995                             0                          0
19996                             0                          0
19997                             1                          0
19998                             0                          0
19999                             0                          0

       HomeOwnershipStatus_Own  HomeOwnershipStatus_Rent  LoanPurpose_Auto  \
0                            1                         0                 0
1                            0                         0                 0
2                            0                         1                 0
3                            0                         0                 0
4                            0                         0                 0
...                        ...                       ...               ...
19995                        0                         1                 1
19996                        0                         1                 0
19997                        0                         0                 0
19998                        1                         0                 0
19999                        1                         0                 0

       LoanPurpose_Debt Consolidation  LoanPurpose_Education  \
0                                   0                      0
1                                   1                      0
2                                   0                      1
3                                   0                      0
4                                   1                      0
...                               ...                    ...
19995                               0                      0
19996                               1                      0
19997                               0                      0
19998                               1                      0
19999                               0                      0

       LoanPurpose_Home  LoanPurpose_Other
0                     1                  0
1                     0                  0
2                     0                  0
3                     1                  0
4                     0                  0
...                 ...                ...
19995                 0                  0
19996                 0                  0
19997                 1                  0
19998                 0                  0
19999                 0                  1

[20000 rows x 51 columns]

In [18]:
data_encoded

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,45,39948,617,22,13152,48,2,183,0.354418,1,...,0,0,0,1,0,0,0,0,1,0
1,38,39709,628,15,26045,48,1,496,0.087827,5,...,0,1,0,0,0,0,1,0,0,0
2,47,40724,570,26,17627,36,2,902,0.137414,2,...,0,0,0,0,1,0,0,1,0,0
3,58,69084,545,34,37898,96,1,755,0.267587,2,...,0,1,0,0,0,0,0,0,1,0
4,37,103264,594,17,9184,36,1,274,0.320535,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,44,30180,587,19,24521,36,3,673,0.101288,5,...,0,0,0,0,1,1,0,0,0,0
19996,56,49246,567,33,25818,36,5,414,0.471818,2,...,0,0,0,0,1,0,1,0,0,0
19997,44,48958,645,20,37033,72,3,512,0.216596,3,...,0,1,0,0,0,0,0,0,1,0
19998,60,41025,560,36,14760,72,3,986,0.364758,4,...,0,0,0,1,0,0,1,0,0,0
19999,20,53227,574,0,32055,48,0,272,0.536411,3,...,0,0,0,1,0,0,0,0,0,1

In [19]:
data_encoded.columns

Index(['Age', 'AnnualIncome', 'CreditScore', 'Experience', 'LoanAmount',
       'LoanDuration', 'NumberOfDependents', 'MonthlyDebtPayments',
       'CreditCardUtilizationRate', 'NumberOfOpenCreditLines',
       'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory',
       'PreviousLoanDefaults', 'PaymentHistory', 'LengthOfCreditHistory',
       'SavingsAccountBalance', 'CheckingAccountBalance', 'TotalAssets',
       'TotalLiabilities', 'MonthlyIncome', 'UtilityBillsPaymentHistory',
       'JobTenure', 'NetWorth', 'BaseInterestRate', 'InterestRate',
       'MonthlyLoanPayment', 'TotalDebtToIncomeRatio', 'LoanApproved',
       'RiskScore', 'EmploymentStatus_Employed',
       'EmploymentStatus_Self-Employed', 'EmploymentStatus_Unemployed',
       'EducationLevel_Associate', 'EducationLevel_Bachelor',
       'EducationLevel_Doctorate', 'EducationLevel_High School',
       'EducationLevel_Master', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single',
       'MaritalStatus_Widowed', 'HomeOwnershipStatus_Mortgage',
       'HomeOwnershipStatus_Other', 'HomeOwnershipStatus_Own',
       'HomeOwnershipStatus_Rent', 'LoanPurpose_Auto',
       'LoanPurpose_Debt Consolidation', 'LoanPurpose_Education',
       'LoanPurpose_Home', 'LoanPurpose_Other'],
      dtype='object')

In [20]:
data_encoded

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,45,39948,617,22,13152,48,2,183,0.354418,1,...,0,0,0,1,0,0,0,0,1,0
1,38,39709,628,15,26045,48,1,496,0.087827,5,...,0,1,0,0,0,0,1,0,0,0
2,47,40724,570,26,17627,36,2,902,0.137414,2,...,0,0,0,0,1,0,0,1,0,0
3,58,69084,545,34,37898,96,1,755,0.267587,2,...,0,1,0,0,0,0,0,0,1,0
4,37,103264,594,17,9184,36,1,274,0.320535,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,44,30180,587,19,24521,36,3,673,0.101288,5,...,0,0,0,0,1,1,0,0,0,0
19996,56,49246,567,33,25818,36,5,414,0.471818,2,...,0,0,0,0,1,0,1,0,0,0
19997,44,48958,645,20,37033,72,3,512,0.216596,3,...,0,1,0,0,0,0,0,0,1,0
19998,60,41025,560,36,14760,72,3,986,0.364758,4,...,0,0,0,1,0,0,1,0,0,0
19999,20,53227,574,0,32055,48,0,272,0.536411,3,...,0,0,0,1,0,0,0,0,0,1

In [21]:
data_encoded

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,45,39948,617,22,13152,48,2,183,0.354418,1,...,0,0,0,1,0,0,0,0,1,0
1,38,39709,628,15,26045,48,1,496,0.087827,5,...,0,1,0,0,0,0,1,0,0,0
2,47,40724,570,26,17627,36,2,902,0.137414,2,...,0,0,0,0,1,0,0,1,0,0
3,58,69084,545,34,37898,96,1,755,0.267587,2,...,0,1,0,0,0,0,0,0,1,0
4,37,103264,594,17,9184,36,1,274,0.320535,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,44,30180,587,19,24521,36,3,673,0.101288,5,...,0,0,0,0,1,1,0,0,0,0
19996,56,49246,567,33,25818,36,5,414,0.471818,2,...,0,0,0,0,1,0,1,0,0,0
19997,44,48958,645,20,37033,72,3,512,0.216596,3,...,0,1,0,0,0,0,0,0,1,0
19998,60,41025,560,36,14760,72,3,986,0.364758,4,...,0,0,0,1,0,0,1,0,0,0
19999,20,53227,574,0,32055,48,0,272,0.536411,3,...,0,0,0,1,0,0,0,0,0,1

In [22]:
X = data_encoded.drop(['RiskScore'], axis=1)   
y = data_encoded['RiskScore']

In [23]:
y

0        49.0
1        52.0
2        52.0
3        54.0
4        36.0
         ...
19995    55.0
19996    54.0
19997    45.0
19998    59.0
19999    59.0
Name: RiskScore, Length: 20000, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=32)

In [25]:
X_train.shape

(14000, 50)

In [26]:
y_train.shape

(14000,)

In [27]:
X_train

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
9176,55,52743,629,31,36719,84,2,354,0.114933,3,...,0,0,0,1,0,0,0,1,0,0
12504,38,138511,571,14,21097,84,2,712,0.500492,3,...,0,1,0,0,0,1,0,0,0,0
18499,38,52308,620,14,29182,24,1,455,0.119998,1,...,0,0,0,0,1,0,0,0,0,1
8593,41,73454,637,20,50463,108,1,351,0.318754,2,...,0,0,0,1,0,1,0,0,0,0
6613,66,158837,640,41,10481,36,0,1353,0.240741,2,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6745,28,41213,537,9,13482,96,2,418,0.151598,1,...,0,1,0,0,0,0,0,0,1,0
19527,60,62642,627,42,19144,60,1,324,0.183686,2,...,0,1,0,0,0,0,0,0,1,0
9526,25,40036,557,1,21538,24,3,442,0.245918,2,...,0,0,0,0,1,0,0,1,0,0
9771,43,49166,558,19,14227,48,0,1227,0.319019,1,...,0,1,0,0,0,0,1,0,0,0
10967,27,50603,574,5,8255,96,0,312,0.121745,3,...,1,0,0,1,0,1,0,0,0,0

In [28]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [29]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [30]:
X_train_scaled.shape

(14000, 50)

In [31]:
X_test_scaled.shape

(6000, 50)

In [32]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [33]:
(X_train.shape[1],)

(50,)

In [34]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [35]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [36]:

model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),  
    tf.keras.layers.Dense(32, activation='relu'),  
    tf.keras.layers.Dense(1)  
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error', 'mean_squared_error']) # Regresyon iÃ§in MSE kullanÄ±lÄ±r
history = model.fit(X_train_scaled, y_train, epochs=40, batch_size=32, validation_data=(X_test_scaled, y_test))


test_loss = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {test_loss}")

Epoch 1/40
438/438 [==============================] - 1s 2ms/step - loss: 536.1572 - mean_absolute_error: 15.4051 - mean_squared_error: 536.1572 - val_loss: 25.2295 - val_mean_absolute_error: 3.8390 - val_mean_squared_error: 25.2295
Epoch 2/40
438/438 [==============================] - 1s 1ms/step - loss: 18.9633 - mean_absolute_error: 3.3086 - mean_squared_error: 18.9633 - val_loss: 13.4552 - val_mean_absolute_error: 2.8552 - val_mean_squared_error: 13.4552
Epoch 3/40
438/438 [==============================] - 1s 1ms/step - loss: 10.9092 - mean_absolute_error: 2.5402 - mean_squared_error: 10.9092 - val_loss: 8.8423 - val_mean_absolute_error: 2.3214 - val_mean_squared_error: 8.8423
Epoch 4/40
438/438 [==============================] - 1s 1ms/step - loss: 7.4530 - mean_absolute_error: 2.1253 - mean_squared_error: 7.4530 - val_loss: 6.9971 - val_mean_absolute_error: 2.0910 - val_mean_squared_error: 6.9971
Epoch 5/40
438/438 [==============================] - 1s 1ms/step - loss: 5.7818 - mean_absolute_error: 1.8827 - mean_squared_error: 5.7818 - val_loss: 5.6802 - val_mean_absolute_error: 1.8792 - val_mean_squared_error: 5.6802
Epoch 6/40
438/438 [==============================] - 1s 1ms/step - loss: 4.8124 - mean_absolute_error: 1.7243 - mean_squared_error: 4.8124 - val_loss: 4.9487 - val_mean_absolute_error: 1.7637 - val_mean_squared_error: 4.9487
Epoch 7/40
438/438 [==============================] - 1s 1ms/step - loss: 4.2436 - mean_absolute_error: 1.6250 - mean_squared_error: 4.2436 - val_loss: 4.8140 - val_mean_absolute_error: 1.7409 - val_mean_squared_error: 4.8140
Epoch 8/40
438/438 [==============================] - 1s 1ms/step - loss: 3.8638 - mean_absolute_error: 1.5520 - mean_squared_error: 3.8638 - val_loss: 4.2358 - val_mean_absolute_error: 1.6422 - val_mean_squared_error: 4.2358
Epoch 9/40
438/438 [==============================] - 1s 1ms/step - loss: 3.5741 - mean_absolute_error: 1.4936 - mean_squared_error: 3.5741 - val_loss: 4.1128 - val_mean_absolute_error: 1.6076 - val_mean_squared_error: 4.1128
Epoch 10/40
438/438 [==============================] - 1s 1ms/step - loss: 3.3720 - mean_absolute_error: 1.4535 - mean_squared_error: 3.3720 - val_loss: 3.8609 - val_mean_absolute_error: 1.5607 - val_mean_squared_error: 3.8609
Epoch 11/40
438/438 [==============================] - 1s 1ms/step - loss: 3.2306 - mean_absolute_error: 1.4245 - mean_squared_error: 3.2306 - val_loss: 3.7492 - val_mean_absolute_error: 1.5455 - val_mean_squared_error: 3.7492
Epoch 12/40
438/438 [==============================] - 1s 1ms/step - loss: 3.1114 - mean_absolute_error: 1.4006 - mean_squared_error: 3.1114 - val_loss: 3.7899 - val_mean_absolute_error: 1.5410 - val_mean_squared_error: 3.7899
Epoch 13/40
438/438 [==============================] - 1s 1ms/step - loss: 3.0029 - mean_absolute_error: 1.3774 - mean_squared_error: 3.0029 - val_loss: 3.6743 - val_mean_absolute_error: 1.5181 - val_mean_squared_error: 3.6743
Epoch 14/40
438/438 [==============================] - 1s 1ms/step - loss: 2.9435 - mean_absolute_error: 1.3635 - mean_squared_error: 2.9435 - val_loss: 3.6250 - val_mean_absolute_error: 1.5134 - val_mean_squared_error: 3.6250
Epoch 15/40
438/438 [==============================] - 1s 1ms/step - loss: 2.8054 - mean_absolute_error: 1.3294 - mean_squared_error: 2.8054 - val_loss: 3.5476 - val_mean_absolute_error: 1.4846 - val_mean_squared_error: 3.5476
Epoch 16/40
438/438 [==============================] - 1s 1ms/step - loss: 2.7735 - mean_absolute_error: 1.3216 - mean_squared_error: 2.7735 - val_loss: 3.4689 - val_mean_absolute_error: 1.4646 - val_mean_squared_error: 3.4689
Epoch 17/40
438/438 [==============================] - 1s 1ms/step - loss: 2.7179 - mean_absolute_error: 1.3124 - mean_squared_error: 2.7179 - val_loss: 3.4434 - val_mean_absolute_error: 1.4576 - val_mean_squared_error: 3.4434
Epoch 18/40
438/438 [==============================] - 1s 1ms/step - loss: 2.6499 - mean_absolute_error: 1.2973 - mean_squared_error: 2.6499 - val_loss: 3.3453 - val_mean_absolute_error: 1.4507 - val_mean_squared_error: 3.3453
Epoch 19/40
438/438 [==============================] - 1s 1ms/step - loss: 2.6626 - mean_absolute_error: 1.3012 - mean_squared_error: 2.6626 - val_loss: 3.4424 - val_mean_absolute_error: 1.4714 - val_mean_squared_error: 3.4424
Epoch 20/40
438/438 [==============================] - 1s 1ms/step - loss: 2.5651 - mean_absolute_error: 1.2779 - mean_squared_error: 2.5651 - val_loss: 3.2638 - val_mean_absolute_error: 1.4278 - val_mean_squared_error: 3.2638
Epoch 21/40
438/438 [==============================] - 1s 1ms/step - loss: 2.5311 - mean_absolute_error: 1.2665 - mean_squared_error: 2.5311 - val_loss: 3.3382 - val_mean_absolute_error: 1.4435 - val_mean_squared_error: 3.3382
Epoch 22/40
438/438 [==============================] - 1s 1ms/step - loss: 2.5181 - mean_absolute_error: 1.2630 - mean_squared_error: 2.5181 - val_loss: 3.4777 - val_mean_absolute_error: 1.4624 - val_mean_squared_error: 3.4777
Epoch 23/40
438/438 [==============================] - 1s 1ms/step - loss: 2.4488 - mean_absolute_error: 1.2478 - mean_squared_error: 2.4488 - val_loss: 3.3181 - val_mean_absolute_error: 1.4411 - val_mean_squared_error: 3.3181
Epoch 24/40
438/438 [==============================] - 1s 1ms/step - loss: 2.4287 - mean_absolute_error: 1.2381 - mean_squared_error: 2.4287 - val_loss: 3.3026 - val_mean_absolute_error: 1.4324 - val_mean_squared_error: 3.3026
Epoch 25/40
438/438 [==============================] - 1s 1ms/step - loss: 2.4011 - mean_absolute_error: 1.2366 - mean_squared_error: 2.4011 - val_loss: 3.2062 - val_mean_absolute_error: 1.4132 - val_mean_squared_error: 3.2062
Epoch 26/40
438/438 [==============================] - 1s 1ms/step - loss: 2.3870 - mean_absolute_error: 1.2335 - mean_squared_error: 2.3870 - val_loss: 3.2588 - val_mean_absolute_error: 1.4309 - val_mean_squared_error: 3.2588
Epoch 27/40
438/438 [==============================] - 1s 1ms/step - loss: 2.3492 - mean_absolute_error: 1.2211 - mean_squared_error: 2.3492 - val_loss: 3.1952 - val_mean_absolute_error: 1.4234 - val_mean_squared_error: 3.1952
Epoch 28/40
438/438 [==============================] - 1s 1ms/step - loss: 2.3357 - mean_absolute_error: 1.2213 - mean_squared_error: 2.3357 - val_loss: 3.2543 - val_mean_absolute_error: 1.4240 - val_mean_squared_error: 3.2543
Epoch 29/40
438/438 [==============================] - 1s 1ms/step - loss: 2.3181 - mean_absolute_error: 1.2158 - mean_squared_error: 2.3181 - val_loss: 3.3280 - val_mean_absolute_error: 1.4345 - val_mean_squared_error: 3.3280
Epoch 30/40
438/438 [==============================] - 1s 1ms/step - loss: 2.2840 - mean_absolute_error: 1.2076 - mean_squared_error: 2.2840 - val_loss: 3.1703 - val_mean_absolute_error: 1.4032 - val_mean_squared_error: 3.1703
Epoch 31/40
438/438 [==============================] - 1s 1ms/step - loss: 2.2521 - mean_absolute_error: 1.1953 - mean_squared_error: 2.2521 - val_loss: 3.2108 - val_mean_absolute_error: 1.4110 - val_mean_squared_error: 3.2108
Epoch 32/40
438/438 [==============================] - 1s 1ms/step - loss: 2.2704 - mean_absolute_error: 1.2002 - mean_squared_error: 2.2704 - val_loss: 3.2029 - val_mean_absolute_error: 1.4176 - val_mean_squared_error: 3.2029
Epoch 33/40
438/438 [==============================] - 1s 1ms/step - loss: 2.2173 - mean_absolute_error: 1.1871 - mean_squared_error: 2.2173 - val_loss: 3.1779 - val_mean_absolute_error: 1.4088 - val_mean_squared_error: 3.1779
Epoch 34/40
438/438 [==============================] - 1s 1ms/step - loss: 2.2041 - mean_absolute_error: 1.1826 - mean_squared_error: 2.2041 - val_loss: 3.3713 - val_mean_absolute_error: 1.4569 - val_mean_squared_error: 3.3713
Epoch 35/40
438/438 [==============================] - 1s 1ms/step - loss: 2.2089 - mean_absolute_error: 1.1881 - mean_squared_error: 2.2089 - val_loss: 3.1075 - val_mean_absolute_error: 1.3938 - val_mean_squared_error: 3.1075
Epoch 36/40
438/438 [==============================] - 1s 1ms/step - loss: 2.1926 - mean_absolute_error: 1.1796 - mean_squared_error: 2.1926 - val_loss: 3.1809 - val_mean_absolute_error: 1.4170 - val_mean_squared_error: 3.1809
Epoch 37/40
438/438 [==============================] - 1s 1ms/step - loss: 2.1788 - mean_absolute_error: 1.1787 - mean_squared_error: 2.1788 - val_loss: 3.1554 - val_mean_absolute_error: 1.4088 - val_mean_squared_error: 3.1554
Epoch 38/40
438/438 [==============================] - 1s 1ms/step - loss: 2.1558 - mean_absolute_error: 1.1727 - mean_squared_error: 2.1558 - val_loss: 3.1651 - val_mean_absolute_error: 1.4114 - val_mean_squared_error: 3.1651
Epoch 39/40
438/438 [==============================] - 1s 1ms/step - loss: 2.1351 - mean_absolute_error: 1.1634 - mean_squared_error: 2.1351 - val_loss: 3.3571 - val_mean_absolute_error: 1.4420 - val_mean_squared_error: 3.3571
Epoch 40/40
438/438 [==============================] - 1s 1ms/step - loss: 2.1342 - mean_absolute_error: 1.1612 - mean_squared_error: 2.1342 - val_loss: 3.1495 - val_mean_absolute_error: 1.4003 - val_mean_squared_error: 3.1495
188/188 [==============================] - 0s 763us/step - loss: 3.1495 - mean_absolute_error: 1.4003 - mean_squared_error: 3.1495
Test Loss: [3.1494603157043457, 1.400251030921936, 3.1494603157043457]

In [37]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import math

# Tahminlerinizi ve gerÃ§ek veriyi alarak performansÄ± Ã¶lÃ§me
y_pred = model.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)

print(f"MSE: {mse}")
print(f"RMSE: {rmse}")
print(f"MAE: {mae}")

188/188 [==============================] - 0s 671us/step
MSE: 3.1494602677500714
RMSE: 1.7746718760802154
MAE: 1.4002509525299072

In [38]:
# Yeni verilerle tahmin yapma
y_pred = model.predict(X_test_scaled)

# SonuÃ§larÄ± karÅŸÄ±laÅŸtÄ±rmak iÃ§in gerÃ§ek ve tahmin edilen deÄŸerler
comparison = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred.flatten()})
print(comparison.head())

188/188 [==============================] - 0s 690us/step
       Actual  Predicted
14708    55.0  56.527973
14706    53.0  53.068733
15628    52.0  49.479282
16510    61.0  62.123253
18155    62.0  61.840221

In [39]:
model.save('model_kredi_riks.h5')

In [40]:
## Load Tensorboard Extension
%load_ext tensorboard

In [41]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 37140), started 0:51:13 ago. (Use '!kill 37140' to kill it.)